{% extends 'profile/profile.html' %}

{% block profile_content %}
<h1>Группы</h1>
<div class="d-flex input-group w-auto">
  <input id="search-input" type="search" class="form-control" placeholder="Название группы/курса" aria-label="Search" aria-describedby="search-addon"/>
  <button class="input-group-text border-1">
    <span class="material-symbols-outlined"> search </span>
  </button>
</div>
<div class="custom-form content" id="groups-container">
  {% for group, value in groups.items() %}
  <div class="card mt-2 group-card">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <h3 class="search_field">{{ group.title }}</h3>
        <div class="dropdown">
          <button class="btn btn-link pull-right nav-link" data-bs-toggle="dropdown">
            <span class="material-symbols-outlined"> more_vert </span>
          </button>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><button class="dropdown-item">Написать отзыв курсу</button></li>
            <li><button class="dropdown-item favorite_toggle" data-course-id="{{ value[1][0] }}" data-event="add">Добавить курс в избранное</button></li>
            <li><button class="dropdown-item">Выйти из группы</button></li>
          </ul>
        </div>
      </div>
      <span>
        Куратор: <a href="#" class="nounderline">{{ value[0][1] }}</a>
      </span>
      <br />
      <span>
        Курс: <a href="#" class="nounderline search_field">{{ value[1][1] }}</a>
      </span>
      <br />
      <span>
        Студенты: 
        {% for student in value[2] %}
        <a href="{{ url_for('profile.profile_info', id=student.id) }}" class="nounderline">{{ student.name }}</a>
        {% if not loop.last %}, {% endif %} 
        {% endfor %}
      </span>
      <br />
      <span>Ваш прогресс по курсу:</span>
      <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="{{value[3]}}" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar" style="width: {{ value[3] }}%">
          {{value[3]}}%
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var searchInput = document.getElementById('search-input')
        var groupsContainer = document.getElementById('groups-container');

        searchInput.addEventListener("input", function() {
            var searchTerm = this.value.toLowerCase();
            var groupCards = groupsContainer.getElementsByClassName('group-card');

            for (var i = 0; i < groupCards.length; i++) {
                var searchFields = groupCards[i].getElementsByClassName('search_field');
                var isMatch = false;

                for (var j = 0; j < searchFields.length; j++) {
                    if (searchFields[j].innerText.toLowerCase().includes(searchTerm)) {
                        isMatch = true;
                        break;
                    }
                }

                if (isMatch) {
                    groupCards[i].style.display = 'block';
                } else {
                    groupCards[i].style.display = 'none';
                }
            }

        });
    });
</script>

{% endblock %}
