{% extends 'profile/profile.html' %} 

{% block profile_content %}

<h3>{{ task.title }}</h3>
<p>{{ task.description }}</p>
{% if task_files %}
<label>Прикрепленные файлы:</label>
{% endif %}
{% for file in task_files %}
<div class="mb-3">
    <div class="attached-file">
        <a href="{{ url_for('static', filename='files/' + file.id|string) }}" download="{{ file.name }}">
            <i class="fa-solid fa-file-arrow-down"></i> {{ file.name }}
        </a>
    </div>
</div>
{% endfor %}

<h3>Домашнее задание</h3>
<form method="POST" id="hometask-form">
    <div class="card-body">
        <input type="hidden" name="hometask_id" value="{{ hometask.id|string }}">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" name="title" placeholder="Заголовок" value="{{ hometask.title }}" required autocomplete="off">
            <label>Заголовок</label>
        </div>
        <div class="form-floating mb-3">
            <textarea class="form-control auto-resize" name="text" placeholder="Текст" required autocomplete="off" oninput="autoResizeTextarea(this)">{{ hometask.text }}</textarea>
            <label>Текст</label>
        </div>
        {% if hometask_files %}
        <label>Прикрепленные файлы:</label>
        {% endif %}
        {% for file in hometask_files %}
        <div class="mb-3">
            <div class="attached-file d-flex align-items-center mt-2">
                <i class="fas fa-trash-alt text-danger remove-file me-2" style="cursor: pointer;" data-file-id="{{ file.id }}"></i>
                <a href="{{ url_for('static', filename='files/' + file.id|string) }}" download="{{ file.name }}">
                    <i class="fa-solid fa-file-arrow-down"></i> {{ file.name }}
                </a>
            </div>
        </div>
        {% endfor %}
        <div class="input-group mb-3">
            <input type="file" class="form-control" id="inputFile" name="files" multiple>
        </div>
    </div>
    <div class="card-footer">
        <button type="submit" class="btn btn-outline-success">Сохранить</button>
    </div>
</form>

<script>
    function autoResizeTextarea(textarea) {
        textarea.style.height = 'auto';
        textarea.style.height = textarea.scrollHeight + 2 + 'px';
    }

    document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('.auto-resize').forEach(function(textarea) {
            autoResizeTextarea(textarea);
        });

        var hometaskForm = document.getElementById('hometask-form');

        if (hometaskForm) {
            hometaskForm.addEventListener('submit', function (event) {
                event.preventDefault();

                const formData = new FormData(hometaskForm);

                fetch('/profile/save_hometask', {
                    method: 'POST',
                    body: formData
                })
                    .then(response => response.json())
                    .then(data => {

                        if (data.message && data.category) {

                            showNotification(data.message, data.category);
                        }

                    })
                    .catch(error => {
                        console.error(error);
                    });
            });
        }

        var removeFileButtons = document.querySelectorAll('.remove-file');

        removeFileButtons.forEach(function(button) {
            button.addEventListener('click', function(event) {
                var fileId = button.getAttribute('data-file-id');
                
                fetch('/profile/delete_hometask_file', {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        file_id: fileId
                    })
                })
                .then(response => response.json())
                .then(data => {
                    if (data.category != 'success') {
                        showNotification(data.message, data.category);
                    } else {
                        window.location.reload();
                    }

                })
                .catch(error => {
                    console.error(error);
                });
            });
        });


    });
</script>

{% endblock %}
