{% extends 'profile/profile.html' %}

{% block profile_content %}
<div class="d-flex flex-row">
    <div class="d-flex flex-column mx-2">
        <img src="{{ url_for('static', filename='images/users/{}.jpg'.format(user.login)) }}"
            class="rounded-3 mb-2 border border-secondary" style="width: 150px;" alt="Avatar" />
        <label for="file-input" class="btn btn-outline-secondary">
            <input type="file" id="file-input" name="file-input" accept="image/png, image/jpeg"
                style="opacity: 0; position: absolute; height: 1px; width: 1px;" />
            Загрузить фото
        </label>

        <button type="button" class="btn btn-outline-warning mt-2" id="delete-photo-btn">Удалить фото</button>
    </div>
    <div class="mx-2">
        <h1>{{ user.name }}</h1>
        {% if user_info.email %}
        <p>e-mail: {{ user_info.email }}</p>
        {% endif %}
        {% if user_info.birth_date %}
        <p>Дата рождения: {{ user_info.birth_date.strftime('%Y-%m-%d') }}</p>
        {% endif %}
        {% if user_info.phone_number %}
        <p>Телефон: {{ user_info.phone_number }}</p>
        {% endif %}
        <p><small>здесь будет последняя активность</small></p>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {

        var fileInput = document.getElementById('file-input');
        if (fileInput) {
            fileInput.addEventListener('change', function (event) {
                var file = event.target.files[0];
                if (file.type.startsWith('image/')) {
                    var formData = new FormData();
                    formData.append('image', file);

                    fetch('/profile/upload_image', {
                        method: 'POST',
                        body: formData
                    })
                        .then(response => response.json())
                        .then(data => {
                            console.log('Изображение успешно загружено');
                            window.location.reload();
                        })
                        .catch(error => {
                            console.error('Ошибка при загрузке изображения:', error);
                        });

                }

            });
        }

        var deletePhotoButton = document.getElementById('delete-photo-btn');

        if (deletePhotoButton) {
            deletePhotoButton.addEventListener('click', function (event) {

                fetch('/profile/delete_image', {
                    method: 'DELETE'
                })
                    .then(response => response.json())
                    .then(data => {
                        console.log('Изображение успешно удалено');
                        window.location.reload();
                    })
                    .catch(error => {
                        console.error('Ошибка при удалении изображения:', error);
                    });
            });
        }
    });
</script>

{% endblock %}