{% extends 'main/base.html' %}

{% block content %}

<div class="custom-form content">
    {% for notification in notifications %}
    <div class="card mt-2">
        <div class="card-header">
            <div class="d-flex">
                <h3 class="flex-grow-1">{{ notification.title }}</h3>
                <button class="btn btn-link pull-right nav-link notification-button" data-notification-id="{{ notification.id }}">
                    {% if notification.unread %}
                    <span class="material-symbols-outlined" data-bs-toggle="tooltip"
                        data-bs-title="Отметить как прочитанное">mark_email_read</span>
                    {% else %}
                    <span class="material-symbols-outlined" data-bs-toggle="tooltip"
                        data-bs-title="Отметить как непрочитанное">mark_email_unread</span>
                    {% endif %}
                </button>
                <button class="btn btn-link pull-right nav-link delete-notification" data-notification-id="{{ notification.id }}">
                    <span class="material-symbols-outlined" data-bs-toggle="tooltip" data-bs-title="Удалить уведомление">
                        delete
                    </span>
                </button>
            </div>
        </div>
        <div class="card-body">
            <p>{{ notification.description |safe }}</p>

        </div>
        <div class="card-footer text-body-secondary">
            {{ notification.date.strftime("%d.%m.%Y %H:%M") }}
        </div>
    </div>
    {% endfor %}
</div>


<script>

    document.addEventListener("DOMContentLoaded", function () {
        var tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        var tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

        notifyToggle = document.querySelectorAll('.notification-button');

        notifyToggle.forEach(button => {
            button.addEventListener('click', event => {
                event.preventDefault();
      
                var icon = button.querySelector('span');
                var notificationId = button.getAttribute('data-notification-id');
                var status = (icon.textContent === 'mark_email_read') ? 'read' : 'unread';

                var navbarNotif = document.getElementById("navbar_notifications");

                var currentCount = parseInt(navbarNotif.textContent);


                if (icon.textContent === 'mark_email_read') {
                    icon.textContent = 'mark_email_unread';
                    icon.setAttribute('data-bs-title', 'Отметить как непрочитанное');
                    navbarNotif.textContent = currentCount - 1;
                } else {
                    icon.textContent = 'mark_email_read';
                    icon.setAttribute('data-bs-title', 'Отметить как прочитанное');
                    navbarNotif.textContent = currentCount + 1;
                }

                var status = (icon.textContent === 'mark_email_read') ? 'unread' : 'read';

                fetch('/profile/notification_status', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        notificationId: notificationId,
                        status: status
                    })
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.category != 'success') {
                            showNotification(data.message, data.category);
                        } else {
                            console.log('Данные об уведомлении изменены');
                        }
                    })
                    .catch(error => {
                        console.error('Ошибка на сервере:', error);
                    });

                tooltipList.forEach(tooltip => tooltip.dispose());

                tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
                tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
      
            });
          })

        notifyDelete = document.querySelectorAll('.delete-notification');

        notifyDelete.forEach(button => {
            button.addEventListener('click', event => {
                event.preventDefault();
        
                var notificationId = button.getAttribute('data-notification-id');

                fetch('/profile/delete_notification', {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        notificationId: notificationId
                    })
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.category != 'success') {
                            showNotification(data.message, data.category);
                        } else {
                            window.location.reload();
                        }
                    })
                    .catch(error => {
                        console.error('Ошибка на сервере:', error);
                    });
        
                });
          })

    });
</script>

{% endblock %}