{% extends 'main/base.html' %}

{% block content %}

<div id="notification-container" class="m-auto"></div>
<br />


<div class="d-flex align-items-stretch">
    <section class="left-sidebar p-1">
        <div class="" style="width: 280px;">
            <ul class="nav nav-pills flex-column mb-auto">
                <li>
                    <a href="{{ url_for('profile.profile_info', id=user.id) }}"
                        class="d-flex nav-link align-items-center {% if request.path == url_for('profile.profile_info', id=user.id) %}active{% else %}link-body-emphasis{% endif %}">
                        <span class="material-symbols-outlined me-1">
                            info
                        </span>
                        Информация
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('profile.profile_courses', id=user.id) }}"
                        class="d-flex nav-link align-items-center {% if request.path == url_for('profile.courses_taken', id=user.id) or request.path == url_for('profile.courses_favorites', id=user.id) %}active{% else %}link-body-emphasis{% endif %}">
                        <span class="material-symbols-outlined me-1">
                            school
                        </span>
                        Курсы
                    </a>
                </li>
                {% if current_user.id == user.id %}
                <li>
                    <a href="{{ url_for('profile.profile_tasks', id=user.id) }}"
                        class="d-flex nav-link align-items-center {% if request.path == url_for('profile.tasks_pending', id=user.id) or request.path == url_for('profile.tasks_revision', id=user.id) or request.path == url_for('profile.tasks_done', id=user.id) %}active{% else %}link-body-emphasis{% endif %}">
                        <span class="material-symbols-outlined me-1">
                            task
                        </span>
                        Задания
                    </a>
                </li>
                {% endif %}
                <li>
                    <a href="{{ url_for('profile.profile_groups', id=user.id) }}"
                        class="d-flex nav-link align-items-center {% if request.path == url_for('profile.profile_groups', id=user.id) %}active{% else %}link-body-emphasis{% endif %}">
                        <span class="material-symbols-outlined me-1">
                            groups
                        </span>
                        Группы
                    </a>
                </li>
                {% if current_user.id == user.id %}
                <li>
                    <a href="{{ url_for('profile.profile_settings', id=user.id) }}"
                        class="d-flex nav-link align-items-center {% if request.path == url_for('profile.profile_settings', id=user.id) %}active{% else %}link-body-emphasis{% endif %}">
                        <span class="material-symbols-outlined me-1">
                            settings
                        </span>
                        Настройки
                    </a>
                </li>
                {% endif %}

            </ul>

        </div>
    </section>
    <div class="container ms-4">

        {% block profile_content %}
        {% endblock %}

    </div>
</div>


<script>

    document.addEventListener('DOMContentLoaded', function () {

        var FavoriteToggleLinks = document.querySelectorAll('.favorite_toggle')
        FavoriteToggleLinks.forEach(link => {
            link.addEventListener('click', event => {
                event.preventDefault();

                var courseId = link.getAttribute('data-course-id');
                var toggleEvent = link.getAttribute('data-event');
                
                if (toggleEvent === 'add') {
                    fetch('/profile/favorite_toggle', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            course_id: courseId
                        })
                    })
                        .then(response => response.json())
                        .then(data => {
                            console.log('Курс добавлен в избранные');
                        })
                        .catch(error => {
                            console.error('Ошибка на сервере:', error);
                        });
                } else if (toggleEvent === 'delete') {
                    fetch('/profile/favorite_toggle', {
                        method: 'DELETE',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            course_id: courseId
                        })
                    })
                        .then(response => response.json())
                        .then(data => {
                            console.log('Курс удален из избранных');
                            window.location.reload();
                        })
                        .catch(error => {
                            console.error('Ошибка на сервере:', error);
                        });
                }

            });
        });
        
    });

</script>


{% endblock %}