{% extends 'main/base.html' %}

{% block content %}

<div id="notification-container" class="m-auto"></div>
<br />


<div class="d-flex align-items-stretch">
    <section class="left-sidebar p-1">
        <div class="" style="width: 280px;">
            <ul class="nav nav-pills flex-column mb-auto">
                <li>
                    <a href="{{ url_for('profile.profile_info', id=user.id) }}"
                        class="d-flex nav-link align-items-center {% if request.path == url_for('profile.profile_info', id=user.id) %}active{% else %}link-body-emphasis{% endif %}">
                        <span class="material-symbols-outlined me-1">
                            info
                        </span>
                        Информация
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('profile.profile_groups', id=user.id) }}"
                        class="d-flex nav-link align-items-center {% if request.path == url_for('profile.profile_groups', id=user.id) %}active{% else %}link-body-emphasis{% endif %}">
                        <span class="material-symbols-outlined me-1">
                            groups
                        </span>
                        Группы
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('profile.profile_settings', id=user.id) }}"
                        class="d-flex nav-link align-items-center {% if request.path == url_for('profile.profile_settings', id=user.id) %}active{% else %}link-body-emphasis{% endif %}">
                        <span class="material-symbols-outlined me-1">
                            settings
                        </span>
                        Настройки
                    </a>
                </li>

            </ul>

        </div>
    </section>
    <div class="container ms-4">

        {% block profile_content %}
        {% endblock %}

    </div>
</div>


<script>

    document.addEventListener('DOMContentLoaded', function () {

        var fileInput = document.getElementById('file-input');
        if (fileInput) {
            fileInput.addEventListener('change', function (event) {
                var file = event.target.files[0];
                if (file.type.startsWith('image/')) {
                    var formData = new FormData();
                    formData.append('image', file);

                    fetch('/profile/upload_image', {
                        method: 'POST',
                        body: formData
                    })
                        .then(response => response.json())
                        .then(data => {
                            console.log('Изображение успешно загружено');
                            window.location.reload();
                        })
                        .catch(error => {
                            console.error('Ошибка при загрузке изображения:', error);
                        });

                }

            });
        }

        var deletePhotoButton = document.getElementById('delete-photo-btn');

        if (deletePhotoButton) {
            deletePhotoButton.addEventListener('click', function (event) {

                fetch('/profile/delete_image', {
                    method: 'DELETE'
                })
                    .then(response => response.json())
                    .then(data => {
                        console.log('Изображение успешно удалено');
                        window.location.reload();
                    })
                    .catch(error => {
                        console.error('Ошибка при удалении изображения:', error);
                    });
            });
        }

        var settingsForm = document.getElementById('setting-form');

        if (settingsForm) {
            settingsForm.addEventListener('submit', function (event) {
                event.preventDefault();

                const formData = new FormData(settingsForm);

                fetch('/profile/update_settings', {
                    method: 'POST',
                    body: formData
                })
                    .then(response => response.json())
                    .then(data => {

                        if (data.message && data.category) {

                            showNotification(data.message, data.category);
                        }

                        document.getElementById('input-old-password').value = '';
                        document.getElementById('input-new-password').value = '';
                        document.getElementById('input-confirm-password').value = '';

                    })
                    .catch(error => {
                        console.log(error);
                    });
            });
        }
    });

</script>


{% endblock %}