{% extends 'profile/profile.html' %} 

{% block profile_content %}

<div class="d-flex gap-2">
  <a class="btn btn-light flex-fill {% if request.path == url_for('profile.tasks_pending', id=user.id) %}active{% endif %}" type="button" href="{{ url_for('profile.tasks_pending', id=user.id) }}">Текущие</a>
  <a class="btn btn-light flex-fill {% if request.path == url_for('profile.tasks_revision', id=user.id) %}active{% endif %}" type="button" href="{{ url_for('profile.tasks_revision', id=user.id) }}">На проверке</a>
  <a class="btn btn-light flex-fill {% if request.path == url_for('profile.tasks_done', id=user.id) %}active{% endif %}" type="button" href="{{ url_for('profile.tasks_done', id=user.id) }}">Завершенные</a>
</div>

{% block tasks_content %}
{% endblock %}

{% endblock %}
