{% extends 'profile/tasks.html' %} 

{% block tasks_content %}

<div class="custom-form content" id="groups-container">
    {% for task, value in tasks_info.items() %}
    <div class="card mt-2 group-card">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <h3 class="search_field"><a href="#" class="nounderline search_field">{{ task.title }}</a></h3>
          <div class="dropdown">
            <button class="btn btn-link pull-right nav-link" data-bs-toggle="dropdown">
              <span class="material-symbols-outlined"> more_vert </span>
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><button class="dropdown-item">Отправить домашнее задание</button></li>
            </ul>
          </div>
        </div>
        <span>Курс: {{ value[0].title }}<span><br />
        <span>Урок: {{ value[1].title }}</span><br />
        {% if value[2] %}
        <span>Дата сдачи: {{ value[2].deadline.strftime('%Y-%m-%d %H:%M') }}</span><br />
        {% else %}
        <span>Дата сдачи отсутствует</span><br />
        {% endif %}
        <span>Домашнее задание: <a href="#">{{ value[3].title }}</a></span>
      </div>
    </div>
    {% endfor %}
</div>

{% endblock %}