{% extends 'profile/tasks.html' %} 

{% block tasks_content %}

<div class="custom-form content" id="groups-container">
    {% for task, value in tasks_info.items() %}
    <div class="card mt-2 group-card">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <h3 class="search_field"><a href="#" class="nounderline search_field">{{ task.title }}</a></h3>
        </div>
        <span>Курс: {{ value[0].title }}<span><br />
        <span>Урок: {{ value[1].title }}</span><br />
        <span>Результат: {% if value[3].status == 'correct' %} зачтено {% else %} не зачтено {% endif %} </span><br />
        <span>Домашнее задание: <a href="{{ url_for('profile.profile_hometask_view', id=current_user.id, task_id=value[3].id) }}">{{ value[3].title }}</a></span>
      </div>
    </div>
    {% endfor %}
</div>

{% endblock %}