{% extends 'main/base.html' %}

{% block content %}

{% with messages=get_flashed_messages(with_categories=true) %}
<br />
{% for category, message in messages %}
<div class='alert alert-{{category}} text-center alert-dismissible fade show m-auto'>
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endwith %}

<br />

<form method="POST">
    {{form.hidden_tag()}}

    {{form.login.label(class="form-label")}}
    {{form.login(class="form-control")}}
    {{form.password.label(class="form-label")}}
    {{form.password(class="form-control")}}
    <br />
    {{form.submit(class="btn btn-secondary")}}
</form>

{% endblock %}