{% extends 'main/base.html' %}

{% block content %}

<form id="register-form">
    <label class="form-label" for="name">Имя</label>
    <input class="form-control" id="name" name="name" required="" type="text" value="">
    <label class="form-label" for="login">Логин</label>
    <input class="form-control" id="login" name="login" required="" type="text" value="">
    <label class="form-label" for="password">Пароль</label>
    <input class="form-control" id="password" name="password" required="" type="password" value="">
    <label class="form-label" for="cpassword">Пароль</label>
    <input class="form-control" id="cpassword" name="cpassword" required="" type="password" value="">   
    <br>
    <input class="btn btn-secondary" id="submit" name="submit" type="submit" value="Зарегистрироваться">
</form>

<script>
    document.getElementById('register-form').addEventListener('submit', function(event) {
        event.preventDefault();
    
        var formData = new FormData(this); 
    
        fetch('/register', {
            method: 'POST',
            body: formData,
        })
        .then(response => response.json())
        .then(data => {

            if (data.category != 'success') {
                showNotification(data.message, data.category);
            } else {
                window.location.href = data.redirect_url;
            }

        })
        .catch(error => {
            console.error('Ошибка на сервере:', error);
        });
    });
</script>

{% endblock %}