<header class="p-3">
    <div class="container">
        <nav class="navbar border-bottom border-body d-flex align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class=" d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
                <a class="navbar-brand me-lg-auto" href="{{ url_for('main.index') }}">Образовательный портал</a>
            </a>
            <ul class="nav">
                <li class="nav-item dropdown">
                    <a class="nav-link link-body-emphasis dropdown-toggle" href="#" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Аккаунт
                    </a>
                    <ul class="dropdown-menu">
                        {% if user.is_authenticated %}
                        <li><a class="dropdown-item" href="#">Студент</a></li>
                        <li><a class="dropdown-item" href="#">Сообщения</a></li>
                        <li><a class="dropdown-item" href="#">Уведомления</a></li>
                        {% else %}
                        <li><a class="dropdown-item" href="{{ url_for('auth.login') }}">Вход</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('auth.register') }}">Регистрация</a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>