<header class="p-3">
    <div class="container">
        <nav
            class="navbar border-bottom border-body d-flex align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class=" d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
                <a class="navbar-brand me-lg-auto" href="{{ url_for('main.index') }}">Образовательный портал</a>
            </a>
            <ul class="nav">

                {% if user.is_authenticated %}
                <a href="{{ url_for('profile.notifications', id=user.id) }}"
                    class="d-block link-body-emphasis text-decoration-none position-relative">
                    <span class="material-symbols-outlined" style="font-size: 34px;">
                        notifications
                    </span>
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill text-bg-info" id="navbar_notifications">
                        {{ unread }}
                        <span class="visually-hidden">Непрочитанные сообщения</span>
                    </span>
                </a>
                {% endif %}
                <li class="nav-item dropdown ms-4">
                    <a href="#" class="d-block link-body-emphasis text-decoration-none" data-bs-toggle="dropdown">
                        <span class="material-symbols-outlined" style="font-size: 34px;">
                            account_circle
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        {% if user.is_authenticated %}
                        <li><a class="dropdown-item"
                                href="{{ url_for('profile.profile', id=user.id, menu='info') }}">Студент</a></li>
                        <li><a class="dropdown-item" href="#">Сообщения</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('auth.logout') }}">Выход</a></li>
                        {% else %}
                        <li><a class="dropdown-item" href="{{ url_for('auth.login') }}">Вход</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('auth.register') }}">Регистрация</a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>